<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710946350814-3oggv4394o3osvm99l00i2i4k4snf232.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710946350814-3oggv4394o3osvm99l00i2i4k4snf232</string>
	<key>API_KEY</key>
	<string>AIzaSyAUKEsR02BWcV76KFdLEYET6IlPeyCvDTA</string>
	<key>GCM_SENDER_ID</key>
	<string>710946350814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homepresso.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bd21d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bd21d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710946350814:ios:c6f439d99829c6780d044f</string>
</dict>
</plist>